<div class="color">
  <div class="container">
    <h1 class="display-4">Bootstrap is Responsive</h1>

    <div>
    <p class="logo">Verical scrolling has become a popular and lasting trend in web design.. </p><br>
    <div class="row">
      <div class="column">
    <span>Information, in a general sense, is processed, organised and structured data. It provides context for data and enables decision making. For example, a single customer’s sale at a restaurant is data – this becomes information when the business is able to identify the most popular or least popular dish.</span>

      </div>
      </div>
      </div>

       <div class="row1">
          <div class="column1">
        <span>Information, in a general sense, is processed, organised and structured data. It provides context for data and enables decision making. For example, a single customer’s sale at a restaurant is data – this becomes information when the business is able to identify the most popular or least popular dish.</span>

          </div>
        </div>
        <div class="center">
          <img src="assets/avatar-3637425_960_720.png" alt="Girl in a jacket" width="100" height="100">
        </div>
        <br><br><br>
      </div>
  </div>
