<div class="u">
  <div class="container">
    <h1 class="display-4">Sectionalize</h1>

      <div class="row">
        <div class="column">
        <div class="center">
          <h2>Robut</h2>
          <p>Information, in a general sense, is processed, organised and structured data. It provides context for data and enables decision making. For example, a single customer’s sale at a restaurant is data </p>
          <span class="glyphicon glyphicon-cog center" style="font-size:48px;color:white"></span>
        </div>
      </div>
        <div class="column">
          <div class="center">
          <h2>Simple</h2>
         <p>Information, in a general sense, is processed, organised and structured data. It provides context for data and enables decision making. For example, a single customer’s sale at a restaurant is data </p>
         <i class="fa fa-user" style="font-size:48px;color:white;"></i>
        </div>
        </div>
        <div class="column">
          <div class="center">
          <h2>Clean</h2>
         <p>Information, in a general sense, is processed, organised and structured data. It provides context for data and enables decision making. For example, a single customer’s sale at a restaurant is data </p>
         <i style="font-size:48px" class="fa">&#xf10b;</i>
      </div>
        </div>
    </div>
    <br><br>
  </div>
</div>
